html {
  height: 99%;
  max-width: 99%;
}

body {
  background-color: rgb(15, 105, 105);
  color: white;
  text-shadow: 1px 2px black;

  /* word-break: break-all; */
}

#frame {
  margin-top: 10%;
  width: 100vw;

  height: 90vh;
}

#container {
  height: 50vh;
}

#un {
  font-size: 1em;
  font-weight: 800;
}

#pw {
  font-size: 1em;
  font-weight: 800;
}

.bt {
  margin: 3px;
}

.App {
  margin-top: 2%;
  text-align: center;
  font-weight: 500;
}

input {
  border-radius: 0.7em;
  margin-bottom: 12px;
  font-size: 1.4em;
}

#dataReturn {
  font-size: 1em;
}
