body {
  background-color: rgb(15, 105, 105);
  color: white;
  text-shadow: 1px 2px black;
}

#un {
  font-size: 1.4em;
  font-weight: 800;
}

#pw {
  font-size: 1.4em;
  font-weight: 800;
}

.bt {
  margin: 3px;
}

.App {
  margin-top: 2%;
  text-align: center;
  font-weight: 500;
}

input {
  border-radius: 0.7em;
  margin-bottom: 12px;
  font-size: 1.4em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#dataReturn {
  font-size: 2em;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
